In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
comments_df = pd.read_csv(r"C:\Users\memoo\OneDrive\Desktop\DataScience\FinalProjectFiles\RedditAPIProject\MainGitHubRepo\data\Archive-Data_Log-1\archived_reddit_comments_data_20250604_051621.csv")
posts_df = pd.read_csv(r"C:\Users\memoo\OneDrive\Desktop\DataScience\FinalProjectFiles\RedditAPIProject\MainGitHubRepo\data\Archive-Data_Log-1\archived_reddit_posts_data_20250604_051621.csv")

In [6]:
comments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             162 non-null    int64
 1   comment_id     162 non-null    object
 2   body           162 non-null    object
 3   author         162 non-null    object
 4   score          162 non-null    int64
 5   created_utc    162 non-null    object
 6   subreddit      162 non-null    object
 7   is_submitter   162 non-null    bool
 8   depth          0 non-null      float64
 9   distinguished  5 non-null      object
 10  parent_id      162 non-null    object
 11  link_id        162 non-null    object
 12  ingested_at    162 non-null    object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 15.5+ KB

In [7]:
posts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            0 non-null      object
 1   post_id       0 non-null      object
 2   title         0 non-null      object
 3   selftext      0 non-null      object
 4   author        0 non-null      object
 5   score         0 non-null      object
 6   num_comments  0 non-null      object
 7   created_utc   0 non-null      object
 8   subreddit     0 non-null      object
 9   flair         0 non-null      object
 10  url           0 non-null      object
 11  over_18       0 non-null      object
 12  is_self       0 non-null      object
 13  ingested_at   0 non-null      object
dtypes: object(14)
memory usage: 132.0+ bytes

In [8]:
comments_df.head()

,id,comment_id,body,author,score,created_utc,subreddit,is_submitter,depth,distinguished,parent_id,link_id,ingested_at
0,32851,mvweqxm,what's especially sad is the fact that daedali...,FlaaFlaaFlunky,1,2025-06-04 04:56:47,gaming,False,NaN,NaN,t1_mvw33qr,t3_1l2vgiy,2025-06-04 04:56:59.892068
1,32852,mvwer19,don't forget all minority groups!,EndPointNear,1,2025-06-04 04:56:48,news,False,NaN,NaN,t1_mvvhvcq,t3_1l2s9ok,2025-06-04 04:57:00.396345
2,32853,mvwer86,"Surprised nobody has mentioned Terra Invicta, ...",PancAshAsh,1,2025-06-04 04:56:51,gaming,False,NaN,NaN,t3_1l2jrht,t3_1l2jrht,2025-06-04 04:57:02.709752
3,32854,mvwergw,"Salty, some would say",Whatajabroni,1,2025-06-04 04:56:54,news,False,NaN,NaN,t1_mvuipy3,t3_1l2kz7x,2025-06-04 04:57:04.862277
4,32855,mvweseb,"We don't want to kill babies, so let's let adu...",kmoonster,1,2025-06-04 04:57:06,news,False,NaN,NaN,t3_1l2qplg,t3_1l2qplg,2025-06-04 04:57:22.636538

In [10]:
comments_df.tail()

,id,comment_id,body,author,score,created_utc,subreddit,is_submitter,depth,distinguished,parent_id,link_id,ingested_at
157,33008,mvwh3z0,"Oh no, I never heard about him getting harasse...",CarlySimonSays,1,2025-06-04 05:15:47,news,False,NaN,NaN,t1_mvvwahi,t3_1l2jc91,2025-06-04 05:15:58.587274
158,33009,mvwh548,Sonic Boom Rise of Lyrics,noobplayer96,1,2025-06-04 05:16:02,gaming,False,NaN,NaN,t3_1l2vgiy,t3_1l2vgiy,2025-06-04 05:16:16.919928
159,32848,mvwepgy,민주당에서 이겼으니까 됐지 라고 말한적 없어요. 다만 악마화 된 이미지를 그대로 믿...,yurikura,1,2025-06-04 04:56:27,news,False,NaN,NaN,t1_mvwdxo0,t3_1l2h244,2025-06-04 04:56:39.624960
160,32849,mvweph6,Ironic given he is a DUI hire.,musingofrandomness,1,2025-06-04 04:56:28,news,False,NaN,NaN,t1_mvwdr9c,t3_1l2w3i5,2025-06-04 04:56:40.127423
161,32850,mvweq10,This is it!,raerae1991,1,2025-06-04 04:56:35,news,False,NaN,NaN,t1_mvw9j0b,t3_1l2w3i5,2025-06-04 04:56:50.215808

In [9]:
comments_df.nunique()

id               162
comment_id       162
body             161
author           138
score              1
created_utc      154
subreddit          3
is_submitter       2
depth              0
distinguished      1
parent_id        130
link_id           46
ingested_at      162
dtype: int64

In [13]:
# Sort by created_utc in ascending order
comments_df_sorted = comments_df.sort_values(by="created_utc", ascending=True)

# Display the earliest and latest comments
print("Earliest comment:")
print(comments_df_sorted.iloc[0][["created_utc", "ingested_at", "body"]])
print("\nLatest comment:")
print(comments_df_sorted.iloc[-1][["created_utc", "ingested_at", "body"]])

Earliest comment:
created_utc                                  2025-06-04 04:56:27
ingested_at                           2025-06-04 04:56:39.624960
body           민주당에서 이겼으니까 됐지 라고 말한적 없어요. 다만 악마화 된 이미지를 그대로 믿...
Name: 159, dtype: object

Latest comment:
created_utc           2025-06-04 05:16:02
ingested_at    2025-06-04 05:16:16.919928
body            Sonic Boom Rise of Lyrics
Name: 158, dtype: object

In [12]:
# Sort by created_utc in ascending order
comments_df_sorted = comments_df.sort_values(by="ingested_at", ascending=True)

# Display the earliest and latest comments
print("Earliest comment:")
print(comments_df_sorted.iloc[0][["created_utc", "ingested_at", "body"]])
print("\nLatest comment:")
print(comments_df_sorted.iloc[-1][["created_utc", "ingested_at", "body"]])

Earliest comment:
created_utc                                  2025-06-04 04:56:27
ingested_at                           2025-06-04 04:56:39.624960
body           민주당에서 이겼으니까 됐지 라고 말한적 없어요. 다만 악마화 된 이미지를 그대로 믿...
Name: 159, dtype: object

Latest comment:
created_utc           2025-06-04 05:16:02
ingested_at    2025-06-04 05:16:16.919928
body            Sonic Boom Rise of Lyrics
Name: 158, dtype: object